
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link href="{% static 'scss/style.scss' %}" rel="stylesheet">
		<title>Inicio</title>
	</head>

	<body>

		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="{% url 'index' %}">Piscinas TrinityPool<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'index' %}">Inicio</a>
						</li>
						<li><a class="nav-link" href="{% url 'shop' %}">Productos</a>
						</li>
						<li><a class="nav-link" href="{% url 'contacto_view' %}">Contáctanos</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="{% url 'login' %}"><img src="{% static '/images/user.svg'%}"></a></li>
						<li><a class="nav-link" href="{% url 'cart' %}"><img src="{% static '/images/cart.svg'%}"></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Venta de productos de piscina <span clsas="d-block"></span></h1>
								<p><a href="{% url 'shop' %}" class="btn btn-secondary me-2">Compra Ahora</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static 'images/productos-piscina.png' %}" class="img-fluid" alt="Productos Piscina">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Estos son los productos más adqueridos por nuestro clientes</h2>
						<p><a href="{% url 'shop' %}" class="btn">Explorar más</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="../../static/images/bomba-piscina.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Bomba Vulcano 1HP</h3>
							<strong class="product-price">$250.000</strong>

							<span class="icon-cross">
								<img src="../../static/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="../../static/images/filtro piscina.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Filtro de Arena</h3>
							<strong class="product-price">$150.000</strong>

							<span class="icon-cross">
								<img src="../../static/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="../../static/images/robot-piscina.jpg" class="img-fluid product-thumbnail">
							<h3 class="product-title">Robot limpia piscinas</h3>
							<strong class="product-price">$1.600.000</strong>

							<span class="icon-cross">
								<img src="../../static/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->

				</div>
			</div>
		</div>
		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">¿Por qué elegirnos?</h2>
						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../static/images/truck.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Envío rápido y gratuito</h3>
									<p>Nuestro compromiso es brindarte la mejor experiencia de compra en línea. Por eso, ofrecemos envío rápido y gratuito para que tus productos lleguen a tu puerta de manera rápida y sin costo adicional. Tu satisfacción es nuestra prioridad.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../static/images/bag.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Fácil de comprar</h3>
									<p>En TrinityPool, hemos diseñado una experiencia de compra intuitiva y sencilla para ti. Navegar por nuestra selección de productos es rápido y fácil, y nuestro proceso de compra te guiará sin problemas. Simplificamos el proceso para que puedas comprar tus productos deseados de manera rápida y sin complicaciones. ¡Comprar nunca ha sido tan fácil!</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../static/images/support.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Soporte 24/7</h3>
									<p>En TrinityPool, nuestro compromiso con tu satisfacción no tiene límites. Nuestro equipo de soporte está disponible las 24 horas del día, los 7 días de la semana, para atender tus preguntas y necesidades. No importa cuándo surja un problema o una pregunta, estamos aquí para ayudarte en cualquier momento. Tu tranquilidad es nuestra prioridad.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="../../static/images/return.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Devoluciones sin problemas</h3>
									<p>Entendemos que a veces las cosas no salen como se esperaba. Por eso, en TrinityPool, te ofrecemos devoluciones sin complicaciones. Si no estás satisfecho con tu compra, simplemente contáctanos y te guiaremos a través del proceso de devolución. Nuestro objetivo es que tengas una experiencia de compra libre de preocupaciones y sin problemas.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="../../static/images/piscina-gente..jpg	" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="../../static/images/Cloro-piscina.jpg"></div>
							<div class="grid grid-2"><img src="{% static 'images/limpieza-piscina.jpg' %}" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="{% static 'images/piscina-products.jpg' %}" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">Estos son algunos de nuestros productos</h2>
						<p>Estos son algunos de nuestros productos. En TrinityPool, te ofrecemos una amplia gama de artículos de primera calidad para que tu experiencia junto a la piscina sea inolvidable. Desde productos de limpieza de piscinas hasta elegantes muebles de exterior y divertidos juegos acuáticos, tenemos todo lo que necesitas para crear un oasis perfecto. Descubre nuestra selección y encuentra lo que necesitas para disfrutar de tu piscina al máximo.</p>

						<ul class="list-unstyled custom-list my-4">
							<li>Cada producto que ofrecemos ha sido cuidadosamente seleccionado para garantizar la satisfacción de nuestros clientes.</li>
							<li>Nuestro equipo de expertos está listo para ayudarte a elegir los productos adecuados para tus necesidades.</li>
							<li>Entendemos que cada piscina es única, al igual que tus necesidades. Nuestra amplia gama de productos incluye opciones para todas las formas y tamaños de piscinas.</li>
							<li>Nuestra selección incluye los últimos juegos acuáticos y dispositivos de entretenimiento para mantener a todos disfrutando al máximo.</li>
						</ul>
						<p><a href="{% url 'shop' %}" class="btn">Explorar más</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- End We Help Section -->



		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Piscinas TrinityPool<span></span></a></div>
						<p class="mb-4">En TrinityPool, estamos dedicados a hacer que disfrutes al máximo de tu tiempo en la piscina. Ofrecemos una amplia gama de productos y accesorios de alta calidad que harán que cada día junto a la piscina sea un momento de placer y relajación. Desde equipos de limpieza hasta divertidos juguetes acuáticos, tenemos todo lo que necesitas para crear un oasis de diversión y comodidad en tu propio patio trasero. Sumérgete en nuestras ofertas y descubre cómo podemos convertir tu piscina en el centro de tu vida al aire libre.</p>

						<ul class="list-unstyled custom-social">
							<li><a href="https://www.facebook.com/?locale=es_LA"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="https://twitter.com/?lang=es"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="https://www.instagram.com/"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="https://cl.linkedin.com/"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Servicios</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="{% url 'contacto_view' %}">Contáctanos</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Soporte</a></li>
									<li><a href="#">Inacap</a></li>
									<li><a href="#">Taller de Diseño y Desarrollo de Soluciones</a></li>
								</ul>
							</div>

						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terminos &amp; Condiciones</a></li>
								<li><a href="#">Política de privacidad</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/tiny-slider.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>

</html>
